{% extends "template.html.twig" %}

{% block body %}
    <ul class="list-group">
        {% for name, content in app.session.get('todos') %}
            <li class="list-group-item">
                {{ name }} : {{ content }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %}
    to do
{% endblock %}